:root {
    --positive: #33332d;
    --negative: #f3f1cc;
    --primary: rgb(16, 208, 214);

    --padding: 2rem;
} 

*,*::before,*::after {
    box-sizing: border-box;
    max-width: 100%;
    max-height: 100%;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    display: flex;
    height: 100%;
}

::-webkit-scrollbar {
    width: 10px;
}
  
  /* Track */
::-webkit-scrollbar-track {
    background: var(--positive); 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

body {
    margin: 0;
    width: 100vw;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto Mono', monospace;
    color: var(--positive);
    background-color: var(--negative);

    font-family: "Lato", sans-serif;
}

main {
    width: clamp(30rem, 1200px, 80%);

    display: grid;
    grid-template-rows: 1fr 5rem;
}