:root {
    --positive: #33332d;
    --positive-alt: #decdbc;
    --negative: #f3f1cc;
    --negative-alt: #4e5255;
    --primary: rgb(190, 180, 174);
    --border: 2.5rem;
}

*,*::before,*::after {
    box-sizing: border-box;

}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
}
  
  /* Track */
::-webkit-scrollbar-track {
    background: var(--positive); 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

body {
    margin: 0;
    font-size: 2.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto Mono', monospace;

    background-color: var(--negative);
    color: var(--positive);

    font-family: "Lato", sans-serif;
}

main {
    width: 100%;

    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: 1fr clamp(30rem, 1200px, 80vw) 1fr;
    gap: 5rem;
    justify-content: center;

}

main > * {
    width: 100%;
    grid-column: 2 / 3;
}

header {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
}

header h1 {
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header img {
    max-height: 100%;
    max-width: 100%;
    grid-column: 2 / 3;
    border-radius: 2px;
}

header span#whoami {
    color: var(--primary);
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

.animated {
    animation-name: fadein;

}


.carousel {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;
}

.carousel img {
    object-fit: contain;
    max-width: 5rem;
    width: 5rem;
    height: 5rem;
}

.carousel > a {
    color: currentColor;
    opacity: 0.8;
    transition: all .2s;
    display: flex;
    align-items: center;
}

a[disabled] {
    opacity: .2;
}

.carousel > a:hover {
    opacity: 0.9;
}

img {
    max-height: 100%;
    fill: currentColor;
}

.carousel > img:not(:last-child)::after {
    content: "·";
    display: block;
    padding: 5px;
    background-color: red;
    color: currentColor;
    font-size: 5rem;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#getintouch {
}

#getintouch > div {
    position: relative;
    width: 50%;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, 50%);

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: var(--positive);
    color: var(--negative);
    padding: 0.5rem 2rem;
    border-radius: 2.5rem;
}

#getintouch > div > a {
    background-color: var(--negative-alt);
    color: currentColor;
    cursor: pointer;
}


button, .button {
    border: none;
    padding: 0.5rem 1.5rem;
    border-radius: 2rem;
    transition: all .2s ease;
    margin: 0 1rem;
    text-decoration: none;
}

button:hover, .button:hover {
    margin: 0 0;
    padding: 0.5rem 2.5rem;
}

footer {
    padding-top: calc(2rem + 1em);
    width: 100%;
    grid-column: 1 / -1;
    background-color: var(--positive-alt);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer > .content{
    text-align: center;
    width: clamp(30rem, 1200px, 80vw);
}


@media screen and (max-width: 700px) {
    body {
        font-size: 1.5rem;
    }
    header {
        grid-template-rows: 50% 50%;
        justify-items: center;
    }

    header h1 {
        grid-row: 1 / 2;
        grid-column: 1 / -1;
    }
    header img {
        grid-row: 2 / 3;
        grid-column: 1 / -1;
    }

    .getintouch > div {
        width: 90%;
    }
}